.user-details-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .user-details-container h2 {
    color: #4A148C;
    font-family: Arial, sans-serif;
  }
  
  .user-details-container p {
    font-size: 16px;
    color: #555;
  }
  